@font-face {
  font-family: "HelveticaText";
  src: url("/fonts/HelveticaNowText-Regular.woff") format("woff2");
}

@font-face {
  font-family: "HelveticaTextBold";
  src: url("/fonts/HelveticaNowText-Bold.woff") format("woff2");
}

@font-face {
  font-family: "HelveticaTextExtraBold";
  src: url("/fonts/HelveticaNowText-Black.woff") format("woff2");
}
